@font-face {
  font-family: "Evolventa";
  src: url("../assets/fonts/Evolventa-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  font-size: 1rem;
  font-weight: lighter;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.header a:hover {
  color: #E97313;
}

.header__logo {
  background-color: #E97313;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  height: 100px;
  z-index: 1;
}

.under__header {
  overflow: hidden;
  border: 1px solid #E97313;
  padding-right: 30px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  font-size: 1.1rem;
  font-weight: 100;
  background-color: white;
}

.under__header-flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.under__header a {
  color: white;
  text-decoration: none;
  margin: 20px;
  color: black;
}
.under__header a:hover {
  color: #E97313;
}

.under__header__button-menu {
  border: none;
  background-color: #E97313;
  width: 70px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.under__header__button-menu img {
  width: 20px;
  height: 20px;
}

.under__header__button-search {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 30px;
}

.under__header__button-basket {
  background-color: white;
  border: none;
  cursor: pointer;
  margin-left: 30px;
  position: relative;
}

.basket-count {
  position: absolute;
  top: 20px;
  right: -5px;
  background-color: #E97313;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.under__header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.under__header__button-basket img {
  width: 30px;
  height: 30px;
}

.under__header__button-search img {
  width: 30px;
  height: 30px;
}

.under__header input {
  width: 200px;
  height: 50px;
  font-size: medium;
  position: absolute;
  right: 160px;
  z-index: 1000;
  border: 1px solid #E97313;
  outline: none;
  padding-left: 10px;
}

.under__header__button-menu-open {
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid #E97313;
  border-radius: 5px;
  background-color: white;
  z-index: 1000;
  left: 40px;
  top: 100px;
  position: absolute;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list-container {
  width: 100%;
  padding: 10px;
  height: 50px;
  margin: 10px;
  list-style: none;
  border: 1px solid #E97313;
}

.vline {
  margin: 10px;
  height: 100px;
  width: 1px;
  background-color: #E97313;
}

@media screen and (max-width: 1250px) {
  .header {
    height: 50px;
  }
  .under__header input {
    right: 125px;
    width: 290px;
  }
  .header a {
    font-size: 0.7rem;
    margin: 5px;
  }
  .header p {
    font-size: 1rem;
  }
  .left-block__header {
    height: 20px;
    gap: 50px;
  }
  .header__logo {
    height: 80px;
  }
  .under__header {
    height: 65px;
  }
  .under__header a {
    font-size: 0.9rem;
  }
  .under__header__button-menu img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-top: 5px;
  }
  .header a {
    font-size: 1rem;
    margin: 10px;
  }
  .header p {
    color: white;
    font-size: 1rem;
    margin: 10px;
  }
  .header__logo {
    position: relative;
    height: 50px;
  }
  .under__header {
    height: auto;
    padding-right: 0;
  }
  .under__header input {
    left: 20px;
    width: 50%;
    height: 50px;
  }
  .under__header__button-menu {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  .under__header__button-menu img {
    width: 20px;
    height: 20px;
  }
  .basket-count {
    top: 20px;
  }
  .under__header__button-search {
    margin-left: 0;
  }
  .under__header a {
    font-size: 0.85rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  li {
    margin: 10;
    width: 300px;
  }
  .under__header__button-menu-open {
    width: 100%;
    height: auto;
    border: 1px solid #E97313;
    opacity: 0;
    background-color: white;
    left: 0;
    top: 270px;
    position: absolute;
  }
}
.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
}

.arrow-left {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 0;
}

.arrow-right {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  right: 0;
}

.main__banner {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.main__banner__img {
  width: 1400px;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.main__circles {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main-banner__container {
  padding: 10px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(233, 115, 19, 0.5);
  position: absolute;
  top: 60%;
  left: 50%;
}

.main-banner__title {
  font-size: 30px;
  color: white;
  text-align: center;
}

.gline {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #C9630F;
}

.main-banner__button {
  width: 120px;
  height: 50px;
  border: none;
  background-color: #C9630F;
  color: white;
  text-align: center;
  line-height: 50px;
  margin: 10px auto;
  cursor: pointer;
}

.main-circle {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background-color: #E97313;
}

.container-categories {
  width: 100%;
  height: auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  left: 0;
  font-size: 50px;
  height: 800px;
  color: black;
  font-weight: bold;
  text-shadow: -75px 5px 0 rgba(52, 52, 52, 0.4);
  float: left;
}

.container-categories__products {
  width: auto;
  height: 8 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 10%;
}

.products-container {
  width: 400px;
  height: auto;
  margin: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inside-container {
  width: 380px;
  height: 380px;
  position: absolute;
  z-index: 1;
  border: 4px solid white;
  background: rgba(255, 201, 185, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-container__title {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 10px;
  right: 10px;
  transform: translateX(0);
}

.products-container img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.items-container {
  width: 100%;
  height: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.items-container__title {
  font-size: 50px;
  color: #E97313;
  margin: 10px;
  text-align: left;
}

.items-container__line {
  width: 100%;
  height: 5px;
  background-color: #C9630F;
}

.items-container__products {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.items-container__product__container {
  width: 300px;
  height: auto;
  padding: 5px;
  border: 1px solid #E97313;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.items-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 20px;
}

.item {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  -o-object-fit: contain;
     object-fit: contain;
}

.items-container__button {
  width: 150px;
  height: 50px;
  font-size: large;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #E97313;
}
.items-container__button:hover {
  background-color: #C9630F;
}

.item-added {
  width: 400px;
  height: 60px;
  background-color: rgb(95, 195, 95);
  color: white;
  display: flex;
  text-align: left;
  align-items: center;
  padding-left: 10px;
  font-size: 20px;
  letter-spacing: 1px;
  z-index: 10001;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.item-added__close {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 500px) {
  .main__banner__img {
    width: 100%;
    height: 300px;
  }
  .item-added {
    bottom: 0;
    right: 0;
    font-variant: small-caps;
    width: 300px;
  }
  .items-wrapper {
    width: auto;
    overflow-y: scroll;
    flex-direction: column;
  }
  .main__circles {
    height: 50px;
  }
  .main-circle {
    width: 8px;
    height: 8px;
  }
  .arrow-left {
    width: 25px;
    height: 25px;
  }
  .arrow-right {
    width: 25px;
    height: 25px;
  }
  .main-banner__container {
    width: 200px;
    height: 100px;
    left: 25%;
  }
  .main-banner__title {
    font-size: 15px;
  }
  .main-banner__button {
    width: 100px;
    height: 40px;
    line-height: 40px;
  }
  .gline {
    margin: 0;
    width: 100px;
    height: 10px;
  }
  .vertical-text {
    display: none;
  }
  .container-categories {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .container-categories__products {
    margin-left: 0;
  }
  .items-wrapper {
    margin-bottom: 80%;
  }
}
@media screen and (max-width: 1250px) {
  .products-container {
    width: 200px;
    height: 200px;
    margin: 40px;
  }
  .inside-container {
    width: 150px;
    height: 150px;
  }
  .inside-container__title {
    font-size: 20px;
  }
  .container-categories {
    margin-top: 17%;
  }
  .container-categories__products {
    justify-content: center;
  }
  .items-wrapper {
    width: auto;
    overflow-x: scroll;
    flex-wrap: wrap;
  }
}
.footer {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #E97313;
}

.footer-soc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  width: 100%;
  height: 50px;
}

.footer-soc img {
  width: 34px;
  height: 34px;
  margin-right: 10px;
  float: left;
}

.footer-soc a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.footer-soc a:hover {
  color: #E97313;
}

.footer-logo {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: auto;
  border: 1px solid black;
  left: 50%;
  transform: translateX(-50%);
  top: -120px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Evolventa";
  box-sizing: border-box;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}/*# sourceMappingURL=App.css.map */