@mixin aStyle {
    color: white;
    text-decoration: none;

    margin: 20px;


    &:hover {
        color: $orange;
    }
}

.header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: black;

    font-family: $KiwiMaru;
    font-size: 1.2rem;
    font-weight: lighter;
}

.header a {
    @include aStyle;
}

.header__logo {
    background-color: $orange;

    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 140px;

    z-index: 1;
}

.under__header {
    overflow: hidden;
    border: 1px solid $orange;

    padding-right: 30px;

    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;

    font-family: $KiwiMaru;
    font-size: 1.6rem;
    font-weight: 100;

    background-color: white;
}

.under__header-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.under__header a {
    @include aStyle;
    color: black;
}


.under__header__button-menu {
    border: none;
    background-color: $orange;
    width: 70px;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.under__header__button-menu img {
    width: 30px;
    height: 30px;
}

.under__header__button-search {
    background-color: white;
    border: none;

    cursor: pointer;

    margin-left: 30px;
}

.under__header__button-basket {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-left: 30px;

    position: relative;
}

.basket-count {
    position: absolute;
    top: 25px;
    right: -5px;
    background-color: $orange;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;
}

.under__header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.under__header input {
    width: 300px;
    height: 50px;

    opacity: 0;

    position: absolute;
    right: 190px;
    z-index: 1000;

    font-size: large;

    border: 1px solid $orange;

    outline: none;

    padding-left: 10px;
}

.vline {
    margin: 10px;
    height: 100px;
    width: 1px;
    background-color: $orange;
}

@media screen and (max-width: 1250px) {
    .header {
        height: 50px;
    }

    .header a {
        font-size: 0.8rem;
        margin-right: 10px;
    }

    .header p {
        font-size: 1rem;
    }

    .left-block__header {
        height: 20px;
        gap: 50px;
    }

    .header__logo {
        height: 80px;
    }

    .under__header {
        height: 65px;
    }

    .under__header a {
        font-size: 1.2rem;
    }

    .under__header__button-menu img {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        height: 150px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 5px;
    }

    .header a {
        font-size: 1rem;
        margin: 10px;
    }

    .header p {
        color: white;
        font-size: 1rem;
        margin: 10px;
    }

    .header__logo {
        position: relative;
        height: 50px;
    }

    .under__header {
        height: auto;
        padding-right: 0;
    }

    .under__header input {
        left: 20px;
        width: 50%;
        height: 50px;
    }

    .under__header__button-menu {
        width: 40px;
        height: 40px;
        border-radius: 5px;
    }

    .under__header__button-menu img {
        width: 20px;
        height: 20px;
    }

    .basket-count {
        top: 20px;
    }

    .under__header__button-basket img {
        width: 30px;
        height: 30px;
    }

    .under__header__button-search {
        margin-left: 0;
    }

    .under__header a {
        font-size: 0.85rem;
    }

    .under__header__button-search img {
        width: 30px;
        height: 30px;
    }
}